
  <form class="form" method="POST" #f="ngForm" (ngSubmit)="onSubmit(f)" >
    <div>
        <header class="codrops-header ">
            <h1 class="hvr-underline-from-left">Goal Planner System</h1>
            <h2>Set goals & stay focused</h2>
        </header>
        <section class="content bgcolor-10 middle">
            <span class="input input--shoko">
          <input class="input__field input__field--shoko" name = "Userid" ngModel #userName="ngModel" required type="text" id="input-4"  (dblclick)="eventEmitDoubleClick($event)" />
          <label class="input__label input__label--shoko" for="input-4">
            <span class="input__label-content input__label-content--shoko">Useridd / username</span>
            </label>
            <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0" />
            </svg>
            <br>
            <br>
                  <div *ngIf="userName.errors?.required && userName.touched || edit==true" class="error" style="margin-top:30px">
                        Name is required
                    </div>
            </span>
            <span class="input input--shoko">
          <input class="input__field input__field--shoko" name = "password" ngModel #password="ngModel"  type="password" id="input-5" />
          <label class="input__label input__label--shoko" for="input-5">
            <span class="input__label-content input__label-content--shoko">Password</span>
            </label>
             <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0" />
            </svg>
            </span>
            <span class="input input--shoko">
    <!--
          <input class="input__field input__field--shoko " type="button" id="input-6"/>/container -->

          <button class="btn btn-default input__field input__field--shoko loginButton" type="submit">Login</button>
              <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0" />
            </svg>
            </span>
        </section>
        <div>
        </div>
       <footer class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"><img class="img-responsive footerlogo" src="../assets/QEXON.png"></div>
                <div class="col-lg-4"></div>
            </div>
        </footer>
    </div>
  </form>